#shaph-bg {
    display: none;
}

#shaph-bg.open {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
}

#shaph-form  {
    background-color: white;
    width: 90%;
    position: fixed;
    top: 50px;
    left: 5%;
    height: 80%;
    min-height: 100px;
    overflow: scroll;
}

#shaph-fieldset {
    border: none;
    outline: none;
    padding: 10px;
}

#shaph-cancel {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: red;
}

#shaph-filelist {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#shaph-filelist li {
    border-bottom: 1px solid;
    padding: 10px 0;
}

#shaph-filelist li b {
    color: green;
}

.shaph-uploaded-image {
    padding: 10px 0;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.shaph-uploaded-image img {
    width: 15%;
    height: auto;
    border: 1px solid;
}

.shaph-image-attributes {
    width: 81%;
}

.shaph-image-attributes label {
    display: block;
}

.shaph-footer-buttons {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    background-color: #000000;
    left: 0px;
    bottom: 0px;
}

.shaph-footer-buttons input {
    margin-left: 10px;
    background-color: greenyellow !important;
}

.shaph-content {
    overflow: scroll;
}